
.over-lay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display:none;
    animation: fadeIn linear 0.3s;
}
.nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.3s;
}
.mobile-list {
    margin-top: 24px;
}
.mobile-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}
.mobile-close {

    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;

}
.nav-input:checked ~ .over-lay {
    display: block;

}
.nav-input:checked ~ .nav-mobile {
    transform: translateX(0%);
    opacity: 1;

}

.mobile-link:hover {
    color: #4267B2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}



.bg-bt {
    background: linear-gradient(180deg, #FFB469 0%, #E57709 100%);
    box-shadow: 0px 8px 16px 0px rgba(229, 119, 9, 0.35);

    transition:  1s;
}
.bg-bt:hover {
    background: linear-gradient(180deg, #be5e26e3 100%, #E57709 100%);
    transition: 1s;
}
/* .bt-header:hover {
    background: linear-gradient(135deg, #17964e 0%, #047234 100%);
    background-clip: text;
    color: transparent;
} */
.august {
    color: #41C2AE;
}
.third {
    color: #39C0CE;
}
/* .sign-up {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%)
    
} */
.bg-sign-up {
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
    box-shadow: 0px 8px 16px 0px rgba(80, 197, 119, 0.35);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}
.bg-sign-up:hover {
    background: linear-gradient(135deg, #1686b6 0%, #148a3b 100%); /* Màu nền khi hover */
      box-shadow: 0px 8px 16px 0px rgba(22, 134, 182, 0.35);
    
}
.bg-img {
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
}
.background-layer {
    background-image: url('./img/green.png');
    background-repeat: no-repeat;
}
.bg-2 {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);

}

.people {
    width: 100%;
    height: 100%;
  }
.people-slide {
    width: auto;
}

.people-slide img {
    width: 95%;
    height: auto;
    
  }

  .doctor {
    width: 100%;
    height: 100%;
  }
.doctor-slide {
    width: auto;
    height: 100%;;
}

.doctor-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
    
  }

  .service {
    width: 100%;
    height: 100%;
  }
.service-slide {
    width: 100%;
    height: 100%;;
}

.service-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
    
  }

.bo {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* .bt-dk {
    position: relative;
    top: -480px;
    left: 150px;
} */

.hover-up:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.doc1 {
    background: linear-gradient(90deg, #9DDCB0 0%, #84D0FD 100%);
    border-top-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 80px;
    height: 100%;
    width: 100%;
}

.doc-sec1:hover {
    
    box-shadow: 10px 10px 20px -1px rgb(0 0 0.2 / 0.25);
    transform: scale(10);
    transition: 0.5s;
}

.star {
    color: rgba(255, 168, 0, 1);

}
.pgs {
    color: rgba(10, 153, 73, 1);

}
.bt-doctor:hover {
background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);

}

.i-cus:hover {
    color: #2DBEFC;

}
/* .icon-status {
    color: red;
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);

} */

.box_des {
    display: none;
}
.box_show .minus-ic {
    display: none;
}
.box_show.active .minus-ic {
    display: block;
}
.box_show.active .plus-ic {
    display: none;
}

.tab-items ul li.active{
    border-bottom: 1px solid;
    border-color: rgb(23, 185, 23);
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    background-clip: text;
    color: transparent;
    
}

.or:hover {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    background-clip: text;
    color: transparent;
    text-decoration: underline;
}


.floating-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.floating-label-group input {
    border: 1px solid #ccc;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.75rem;
}
.floating-label-group label {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1rem;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
.floating-label-group input:focus + label,
.floating-label-group input:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #4299e1;
}
.floating-label-group input:focus {
    border-color: #4299e1;
    outline: none;
}

/* .bg-yc {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    transition: color 0.5s ease-in-out;
} */

.bg-yc {
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    transition: background 0.5s ease, transform 0.5s ease; /* Hiệu ứng transition */
  }
  
  .bg-yc:hover {
    background: linear-gradient(90deg, #1686b6 0%, #148a3b 100%); /* Màu khi hover */
  }

  /* footer */
  .bg-foot {
    background: linear-gradient(90deg, #1CAB55 0%, #04A4EC 100%);
  }
  .fa-facebook {
    transition: color 0.3s; /* Smooth transition */
  }
  .fb:hover {
    background: #4267B2; /* Color when hovering */
    transition: 0.3s;
  }
  .fa-youtube {
    transition: color 0.3s; /* Smooth transition */
  }
  .ytb:hover {
    background: red; /* Color when hovering */
    transition: 0.3s;
  }
  .fa-tiktok {
    transition: color 0.3s; /* Smooth transition */
  }
  .tt:hover {
    background: black; /* Color when hovering */
    transition: 0.3s;
  }


